body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.temple-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.temple-card {
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.temple-card:hover {
    transform: scale(1.05);
}

.temple-card img {
    width: 100%;
    height: auto;
    display: block;
}

.temple-card h2 {
    margin: 10px;
    font-size: 1.5em;
}

.temple-card p {
    margin: 10px;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 85% 11%);
}

header {
    background: #580c9f;
    color: #222121;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px; 
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px #580c9f;
}

.card img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer; 
}

footer {
    text-align: center;
    padding: 20px;
    background:#580c9f;
    color: #fff;
}